[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "conf"]
	path = conf
	url = https://github.com/cran/conf
	shallow = true
	registered = true
